<settings>
        <category label="General">
        <setting type="lsep" label="Confluence View Settings (Might not work with other skins)" />
		<setting type="sep" />
        <setting id='force_views' type ="bool" label="32020" default="false"/>
		<setting id="views" type="enum" label="32030" lvalues="32021|32022|32024|32025|32027" default="1" enable="!eq(-1,false)"/>
		<setting type="sep" />
        </category>
</settings>
