<settings>
		<category label="General">
		<setting id='enable_views' type ="bool" label="32020" default="false"/>
		<setting id="movies_view" type="select" label="32021" lvalues="32023|32024|32025|32026|32027|32028|32029|32030" enable="!eq(-1,false)"/>
		<setting id="tv_shows_view" type="select" label="32022" lvalues="32023|32024|32025|32028|32029|32030" enable="!eq(-2,false)"/>
		</category>
</settings>
